
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header-control {
    background-color:#3f5c9A;
    width:100%;
    height:90px;
}
.control-align {
    width:980px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
}

.img-control {
    float:left;

}
.img-control img {
    width:200px;
    height:45px;
    margin-top:20px;
}

.login {
    float:right;
    font-family:arial;
    font-size:13px;
    color:white;
    margin-top:20px;
}
.login p {
    margin-left:10px;
}

.inputtxt {
    width:150px;
    height:20px;
    margin-left:10px;
}
.btn {
    background-color:rgb(63, 97, 168);
    color:white;
    font-family:arial;
    border-radius: 3px;
    border:none;
    padding: 4px;
    font-weight: bold;
    margin-left:05px;
    box-shadow: 1px 1px 20px 0.2px rgb(42, 66, 146);
}

.login a {
    color:white;
    text-decoration:none;
}


/* გოეთე  */
body
{
    background-color: #e2e6ec;
}
.left_content
{
    float: left;
    width: 55%;
    height: auto;
}
.main_header
{
    padding: 60px 20% 0 20%;
    text-align: justify;
    font-size: 30px;
}
.aditional_information
{
    padding-left: 20%;
    line-height: 60px;
}
.image
{
    position: relative;
    top: 25px;
}
.bold_text
{
    font-weight: bolder;
    font-size: 18px;
}
.usual_text
{
    font-size: 17px;
}
.right_content
{
    float: left;   
    width: 45%;
}
.sign_up
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.sign_up_comment
{
    font-size: 19px;  
}
.input_item
{
    height: 40px;
    border-radius: 5px;
}
.first_line_input
{
    margin: 20px 10px 0 0;
    width: 200px;
}
.first_line_input::placeholder
{
    font-size: 20px;
    padding-left: 8px;
}
.block_input::placeholder
{
    font-size: 20px;
    padding-left: 8px;
}
.block_input
{
    display: block;
    width: 413px;
    margin-top: 10px;
}
.birthday_text
{
    display: block;
    font-size: 22px;
}
.data_list
{
    width: 70px;
    height: 30px;
    float: left;
    margin-right: 8px;
}
.notification_birthday
{
    text-decoration: underline;
    font-size: 12px;
    color: rgb(17, 17, 116);
}
.gender
{
    font-size: 20px;
}
.gender_item 
{
    margin: 15px 15px 0 0;
    width: 15px;
}
.submit_and_signup
{
    margin-top: 25px;
}
.submit_text
{
    color: gray;
    font-size: 11.5px;
}
.sign_up_button
{
    display: block;
    margin-top: 30px;
    height: 40px;
    width: 190px;
    border-radius: 6px;
    background: #67ae55;
    color: white;
    font-weight: bolder;
    font-size: 21px;
}
.footer
{
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    background: white;
}
.languages_list
{
    position: absolute;
    left: 179px;
}
.footer_item_lang
{
    margin-right: 9px;
    color: rgb(14, 14, 180);
    font-size: 13px;
}
.options
{
    position: absolute;
    right: 165px;
    left: 165px;
    text-align: justify;
    top: 30px;
}
.option_item
{
    font-size: 14px;
    margin-left: 11px;
    color: rgb(9, 9, 143);
}
hr
{
    position: absolute;
    top: 20px;
    background: red;
}